
<div id="portlet-config" class="modal hide">

	<div class="modal-header">

		<button data-dismiss="modal" class="close" type="button"></button>

		<h3>Widget Settings</h3>

	</div>

	<div class="modal-body">Widget settings form goes here</div>

</div>

<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

<!-- BEGIN PAGE CONTAINER-->

<div class="container-fluid">

	<!-- BEGIN PAGE HEADER-->

	<div class="row-fluid">

		<div class="span12">			

			<!-- BEGIN PAGE TITLE & BREADCRUMB-->

			<h3 class="page-title">

				Dashboard <small>statistics and more</small>

			</h3>

			<ul class="breadcrumb">

				<li><i class="icon-home"></i> <a href="http:///">Home</a> <i class="icon-angle-right"></i></li>

				<li><a href="#">Dashboard</a></li>


			</ul>

			<!-- END PAGE TITLE & BREADCRUMB-->

		</div>

	</div>

	<!-- END PAGE HEADER-->

	<div id="dashboard">

		<!-- BEGIN DASHBOARD STATS -->

		<div class="row-fluid">

			<div class="span3 responsive" data-tablet="span6" data-desktop="span3">

				<div class="dashboard-stat blue">

					<div class="visual">

						<i class="icon-comments"></i>

					</div>

					<div class="details">

						<div class="number">{{ releaseTotal }}</div>

						<div class="desc">当前发布总次数</div>

					</div>

					<a class="more" href="#"> View more <i class="m-icon-swapright m-icon-white"></i>

					</a>

				</div>

			</div>

			<div class="span3 responsive" data-tablet="span6" data-desktop="span3">

				<div class="dashboard-stat yellow">

					<div class="visual">

						<i class="icon-bar-chart"></i>

					</div>

					<div class="details">

						<div class="number">{{ totalBusiness }}</div>

						<div class="desc">当前部署的总业务</div>

					</div>

					<a class="more" href="#"> View more <i class="m-icon-swapright m-icon-white"></i>

					</a>

				</div>

			</div>

		</div>

		<!-- END DASHBOARD STATS -->

		<div class="clearfix"></div>

		

	</div>

</div>
